/Ejercicio02/build/
/Ejercicio04/target/
/Ejercicio05/Ejercicio5/nbproject/private/
/Ejercicio05/Ejercicio5/build/
/Ejercicio06/Ejercicio6/nbproject/private/
/Ejercicio06/Ejercicio6/build/
/Ejercicio07/Ejercicio7/nbproject/private/
/Ejercicio07/Ejercicio7/build/
/Ejercicio08/target/
